footer{
    margin-top: 2rem;
    font-weight: 100;
    font-family: 'Roboto',sans-serif !important;
    font-size: 13px;
    color: #FFFCF9;
    width: 100%;
}
.footer_container{
    margin-block: 2rem;
}
.social_icons{
    display: flex;
    justify-content: center;
}

.social_icons a{
    margin-inline: 1rem;
    text-decoration: none;
    text-align: center;
}

.social_icons a i{
    position: relative;
    font-size: 2rem;
    transition: all 0.2s ease-out;
}

.social_icons i:hover{
    transform: scale(1.2);
}

.social_icons a:first-child i{
    background: linear-gradient(to bottom,#072ac8,#00a8e8);
    background-clip: text;
    color: transparent;
}

.social_icons a:nth-child(2) i{
    background: linear-gradient(to bottom,#ff006e,#ff9f1c);
    background-clip: text;
    color: transparent;
}

.social_icons a:last-child i{
    background: linear-gradient(to bottom,#ffe169,#b69121);
    background-clip: text;
    color: transparent;
}

.copyright{
    text-align: center;
}

#name{
    /* background: linear-gradient(to right,#d9ed92,#ffbe0b); */
    background:linear-gradient(90deg, #fbe4ae 0%, #bd922a 13%, #bd922a 21%, #fbe4ae 63%, #bd922a 67%, #835e17 69%, #a28949 82%, #fae3b7 100%);
    background-clip: text;
    color: transparent;
}

/* Footer 2 */

.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
    justify-content: center;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #061928;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background: hsl(271, 76%, 53%);

	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
/* .footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
} */

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
