body{
	margin: 0;
	padding: 0;
}

.form_container{
	width: 100%;
	background-color: #AD6CEF;
	color: white;
	display: flex;
	flex-wrap: wrap;
	align-items:center;
	justify-content: center;
    padding: 5rem 2rem;
}

.form_container .container_title{
    margin-block-end: 2rem;
}

.form_container .container_title #h3{
    font-weight: 200;
    font-size: 40px;
}

.form_container .form{
	display: flex;
	flex-wrap: wrap;
	margin-inline: 2rem;
	justify-content: space-between;
	align-items: center;
}

.form_container .input-field{
	width: 20rem;
	height: 2rem;
	border: none ;
	border-radius: 3px;
	margin: 0.8rem;
	padding-inline: 2rem;
}

.form_container #label_tag{
	margin-inline-start: 1rem;
}

.form_container .select_tag,#message{
	width: 20rem;
	height: 2em;
	border: none;
	border-radius: 3px;
	margin: 1rem;
	padding-inline: 2rem;
}

.form_container .form-btn{
	width: 20rem;
	height: 2rem;
	border: none;
	border-radius: 15px; 
	background-color: white;
	color: #8a2be2;
	font-size: medium;
	font-weight: 100;
	margin: 1rem;
	padding-inline: 1rem;
	transition: all 0.1s ease-in-out;
}

.form_container .form-btn:hover{
	transform: scale(1.1);
}

.form_container .form-btn:active{
	transform: scale(0.9);
	background-color: #8a2be2;
	color: aliceblue;
	font-weight: 200;
}

@media only screem and (min-width: 1000px){
	.form_container .form_input,.select_tag,#message,.form-btn{
		width: 1rem;
	}
}