{% load static %}

{% block head%}
    <link rel="stylesheet" href="{% static 'css/contact_now.css'%}">
{% endblock %}

{% block body %}

<div class="why_choose_us_contact_section"> 
    <div class="why_choose_image">
        <img class="why_image" src="{%static "images/services/why_choose_us_1.jpg"%}"  alt="...">
    </div>
    <div class="why_choose_text">
        <h5>Let Us help you Build your Dream Contact Now.</h5>
    </div>
    <div class="why_choose_us_contact_logo">
        <span class="ion--call-outline"></span>
        <h5>+91 9922712124</h5>
    </div>
</div>

{% endblock %}